:root {
/* Color Variables */
  --primary-font: "Inter", sans-serif;
  --secondary-font: "Macondo", cursive;
  --primary-color: #3a2620; /* Dark Brown */
  --highlight-color: #416a8e; /* Muted Blue */
  --light-highlight-color: #7a9fc2; /* Light Blue */
}

/* Navbar customization */
.navbar {
  /* placeholder */
}

body{
  font-family: var(--primary-font);
}
h1,h2,h3{
  font-family: var(--secondary-font);
  color: var(--primary-color);
}
.sub-heading-color{
  color: var(--highlight-color);
}
